#image{

	width: 135%;
	height: 720px;
	position: relative;
	background-color: #ccc;
}
.top{
	width: 100%;
	height: 320px;
	position: relative;
	background-color: #fff;
	margin: 48px;
}
img{
	width: 100%;
	height: 100%;
}
audio{
	width: 100%;
	height: 100%;
}
.tabDiv{
	width:30%;
	height: 120px;
	position: relative;
	left: 320px;
	font-size: 96px;
	font-weight: 400;
}
.touxiang{	
	width: 160px;
	height: 160px;
	position: relative;
	top: 24px;
	background-color: #fff;
}
.recordDiv{
	width: 90%;
	height: 120px;
	left: 240px;
	/*right: -50px;*/
	position: relative;
	top:-80px;
	background-color: #fff;
}
.audioStart{
	width:90%;
	height: 160px;
	top: -60px;
	position: relative;
	font-size: 96px;	
	border-color: #F5436D;
	background-color: #F5436D;
}
.name{
	height: 96px;
	width: 100%;
	position: relative;
	left: 24px;
	font-size: 72px;
}
.plus{
	height: 72px;
	width: 72px;
	position: relative;
	top:-144px;
	left:48px;
	color: #fff;
}

#describe{
	height: 240px;
	width: 100%;
	position: relative;
	top: -300px;
	background: #fff;
	opacity:0.7;
	padding: 24px
}

#imgTitle{
	height: 144px;
	width: 100%;
	position: relative;
	top: 0px;
	left: 72px;
	font-size: 120px;
}
#con{
	height: 120opx;
	width: 100%;
	position: relative;
	top: 24px;
	left: 72px;
	font-size: 96px;
}