#image{

	width: 100%;
	height: 400px;
	position: relative;
	background-color: #ccc;
}
.top{
	width: 100%;
	height: 56px;
	position: relative;
	background-color: #fff;
	margin: 8px;
}
img{
	width: 100%;
	height: 100%;
}
audio{
	width: 90%;
	height: 100%;
}
.tabDiv{
	width:30%;
	height: 20px;
	position: relative;
	left: 52px;
	font-size: 16px;
	font-weight: 400;
}
.touxiang{	
	width: 30px;
	height: 30px;
	position: relative;
	top: 4px;
	background-color: #fff;
}
.recordDiv{
	width: 90%;
	height: 20px;
	left: 45px;
	/*right: -50px;*/
	position: relative;
	top:-16px;
	background-color: #fff;
}
.audioStart{
	width:90%;
	height: 30px;
	top: -10px;
	position: relative;
}
.name{
	height: 16px;
	width: 100%;
	position: relative;
	left: 4px;
	font-size: 14px;
}
.plus{
	height: 16px;
	width: 16px;
	position: relative;
	top:-24px;
	left:8px;
	color: #fff;
}

#describe{
	height: 60px;
	width: 100%;
	position: relative;
	top: -68px;
	background: #fff;
	opacity:0.7;
	padding: 4px
}

#imgTitle{
	height: 24px;
	width: 100%;
	position: relative;
	top: 0px;
	left: 12px;
	font-size: 20px;
}
#con{
	height: 20px;
	width: 100%;
	position: relative;
	top: 4px;
	left: 12px;
	font-size: 14px;
}