#image{

	width: 100%;
	height: 400px;
	position: relative;
	background-color: red;
}
.top{
	width: 100%;
	height: 30px;
	position: relative;
	background-color: #fff;
}
img{
	width: 100%;
	height: 100%;
}
audio{
	width: 90%;
	height: 100%;
}
.touxiang{	
	width: 30px;
	height: 30px;
	position: relative;
	left: 10px;
	background-color: #fff;
}
.recordDiv{
	width: 90%;
	height: 20px;
	left: 45px;
	/*right: -50px;*/
	position: relative;
	top:-20px;
	background-color: #fff;
}


#top1{
    top: 10px;
}
#top2{
	top: 20px;
}
#top3{
	top: 30px;
}


#btn{
	width: 300px;
	height: 100px;
	position: relative;
	top: 100px;
	left: 40%;
	background-color: yellow;
}